node_modules
*.swp
*.swo
*.pyc
.DS_Store

ml/nytimes/keys.py
ml/nytimes/articles
ml/nytimes/*.json
ml/nytimes/data

ml/guardian/data/*
DataProjector.js

ml/doc2vec/models/*
ml/tsne/vecs/*

data/*

venv

*.log

token

.env