body {
   /*color: #909090 !important;*/
   /*font-family: Monospace;*/
   font-family: 'PT Sans', Helvetica, Arial;
   /*font-size: 13px;*/
   /*text-align: center !important;*/

   background-color: #000;
   /*margin: 0px;*/
   overflow: hidden;
}

/*#toolbar {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 100%;
   text-align: left;
   z-index: 100;
   display:block;
}*/
/*#toolbar .button { color: #CCCCCC; font-weight: bold; cursor: pointer }*/
.navbar-brand {
    line-height: 30px;
}

.navbar-brand h1 {
    color: #000;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    margin: 5px 0 0 0;
    vertical-align: middle;
}

.navbar-brand img {
    /*margin-right: 5px;*/
    height: 30px;
    width: auto;
    display: inline-block;
}

@media only screen and (max-width : 480px) {
   .navbar-brand {
      padding: 16px;
      /*font-size: 14px;*/
   }
   
   .navbar-brand h1 {
       display: none;
   }
}

.navbar-text label {
   /*margin-bottom: 0;*/
   margin-left: 10px;
   margin-right: 5px;
}

.navbar-right {
   margin-right: 0;
}

.navbar {
    -moz-box-shadow:    0 0 20px 0 #000;
    -webkit-box-shadow: 0 0 20px 0 #000;
    box-shadow:         0 0 20px 0 #000;
}

/*#menu {
   position: absolute;
   top: 100px;
   left: 10px;
   width: 25%;
   text-align: left;
   z-index: 101;
   display:block;
}*/
/*#menu .toggle { color: #CCCCCC; font-weight: bold; cursor: pointer }
#menu .button { color: #CCCCCC; font-weight: bold; cursor: pointer }
#menu .color { color: #CCCCCC; font-weight: bold; cursor: pointer }*/

#menu {
   padding: 15px;
   text-align: center;
}

#menu .cluster-name {
   margin-left: 15px;
}

#buttonAll {
   color: #000;
}

/*#info {
   position: absolute;
   top: 25px;
   right: 10px;
   width: 40%;
   text-align: left;
   z-index: 102;
   display:block;
}*/
/*#info .button { color: #CCCCCC; font-weight: bold; cursor: pointer }*/

.modal {
  outline: none;
}

.modal-header{
  background-color: #286090;
  color:#FFF;
}

.white_logos {
  float:left;
/*  height: 30px;
*/  padding: 15px 15px;
}

.btn-primary {
  background-color: #286090;
  border-color: #286090;
}

.next-button {
  float:right;
}
.back-button {
  display:none;
}

.next-button:hover, .close-button:hover {
  background-color: #337ab7;
  border-color: #337ab7;
}

.white_logos img {
  height: 50px;
  width: auto;
  display: inline-block;
}
.toolTip_top {
  margin-bottom: 0px;
}
.toolTip_text {
  margin-top: 15px;
  display: none;
}
.active {
  display: block;
}

.first_toolTip, .second_toolTip, .third_toolTip {
  margin-bottom: 0px;
/*  float:right;*/
}

.second_toolTip, .third_toolTip {
  display: none;
}

h3#myModalLabel {
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    border-color: lightgrey;
    border-width: 3px;
    background-color: white;
    margin: 0 2px;
}



/*!
 * Side Panel
 *
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Toggle Styles */

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-top: 64px;
    padding-left: 14px;
    padding-right: 14px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 350px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.title {
    color: #000;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#sidePanelBody hr {
    border-top-color: #CCC;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
    cursor: pointer;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
    cursor: pointer;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.navbar-header {
     width: 100%;
}

.cluster-id {
    display: inline-block;
    width: 10px;
    height: 10px;
    /*text-align: center;*/
    /*padding: 6px 0;*/
    /*font-size: 12px;*/
    /*line-height: -1.42;*/
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 1px;
    background-color: lightgrey;
    margin-right: 4px;
}

a.document {
  cursor: pointer;
}

.article {
  height: 14em;
  overflow: hidden;
  position: relative;
}

.fold-fade {
  /*position: relative;
  height: 4em;
  bottom: 4em;*/
  position: absolute;
  /*top: 14em;*/
  bottom: 0;
  left: 0;
  height: 2em;
  width: 100%;
  background: linear-gradient(to top, rgba(248, 248, 248, 1), rgba(255, 255, 255, 0));
}

/*.read-more a {

}*/

/* mobile cutoff is 768px and is in a lot of JS so don't change plz */
@media(min-width:769px) {
    #wrapper {
        padding-right: 250px;
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 450px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
